.addbtn{


    color: black;
    background-color: green;
    font-size: 20px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.4s;
}
.addbtn:hover{
    background-color: black;
    color: white;
}

.form-group{
   
    margin: 10px;
   padding: 5px;
   font-size: 20px;
    border: 2px solid rgb(2, 2, 2);
}
.form-group label{
 color: red;
}

.form-control {
    
    padding: 5px;
    font-size: 15px;
    /* border: 2px solid rgb(2, 2, 2); */
    margin-left: 20px;
}

.btn{
    display: flex;
    justify-content: space-around;
}
.btn-same{
    height: 45px;
  width: 130px;
    color: black;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
    font-size: 20px;
    border: 2px solid black;
    padding: 5px;
    /* border-radius: 10px; */
    transition-duration: 0.4s;
}
.btn-same:hover{
    background-color: black;
    color: white;
}

