#startContainerMainBox {
    height: 25%;
    border-radius: 10px;
    background-color: skyblue;
    color: black;
    padding: 20px;
    display: none;
    position: absolute;
    top: 48%;
    left: 43%;
    transform: translate(-50%, -50%);
    
}

.input {
    margin: 20px;
}

#btn-flex {
    text-align: center;
}

.btnContainer {
    padding: 5px 30px;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 20px;
}

#stopContainerMainBox {
    height: 25%;
    border-radius: 10px;
    background-color: skyblue;
    color: black;
    padding: 20px;
    display: none;
    position: absolute;
    top: 48%;
    left: 43%;
    transform: translate(-50%, -50%);

}
#deleteContainerMainBox{
    height: 25%;
    border-radius: 10px;
    background-color: skyblue;
    color: black;
    padding: 20px;
    display: none;
    position: absolute;
    top: 48%;
    left: 43%;
    transform: translate(-50%, -50%);

}
#deleteAllContainerMainBox{

    height: 25%;
    border-radius: 10px;
    background-color: skyblue;
    color: black;

    padding: 20px;
    display: none;
    position: absolute;
    top: 48%;
    left: 43%;
    transform: translate(-50%, -50%);

}
